*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#main-page .todo-container .main .top h1{
  text-align: center;
  font-size: 50px;
  margin-bottom: 10px;
  color: seagreen;
}
#main-page .todo-container .main .top .form{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
margin: 0 auto;

}

ul{
  width: 650px;
margin: 0 auto;
}
.input-flex{
  width: 80%;
  
}
#main-page .todo-container .main .top .form input{
  font-size: 17px;
  width: 100%;
  padding: 5px 8px;
  margin-bottom: 8px;
}
#main-page .todo-container .main .top .form input:last-child{
  margin-bottom: 0px;
}
#main-page .todo-container .main .top .form input:focus{
  outline: 0;
  
}
#main-page .todo-container .main .top .form .submit-btn{
  height: 40px;
  width: 40px;
  font-size: 20px;
  margin-left: 7px;
  
}
#main-page .todo-container .main .unorder-list .list{
  width: 95%;
  margin: 10px auto 0;
  padding: 12px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: skyblue;
}
#main-page .todo-container .main .unorder-list .list .message{
  width: 100%;
}
#main-page .todo-container .main .unorder-list .list .message .todo-title{
  font-size: 20px;
  margin-bottom: 8px;
  color: white;
  line-height: 13px;
}
#main-page .todo-container .main .unorder-list .list .message .todo-details{
  font-size: 14px;
  color: white;
}
#main-page .todo-container .main .unorder-list .list .btns{
  margin-left: 10px;
  display: flex;
}
#main-page .todo-container .main .unorder-list .list .btns button{
  width: 35px;
  height: 35px;
  font-size: 15px;
}
#main-page .todo-container .main .unorder-list .list .btns .edit-btn{
  margin-left: 5px;
}

.editForm{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.editForm input{
  font-size: 17px;
  width: 90%;
  padding: 5px 8px;
  margin-top: 10px;
}
.editForm input:focus{
  outline: 0;
}
.editBtn{
  margin: 10px 0 25px;
  padding: 2px 15px;
  font-size: 18px;
}